.container-fluid{
	background-image: url("../img/game.jpg");
	width:100%;
	height:600px;
	background-size:cover;
	position:relative;
	}

	body{
			margin:0px;
	padding:0px;
	}

	.demo{
		position: absolute;
		z-index: 2;
		width:100%;
		height:auto;
	}

	.demo h1{
		    font-size: 30px;
    color: red;
    text-align: center;
    padding-top: 150px;
	}

	.demo p{
		    text-align: center;
    color: red;
    font-size: 30px;
	}

	.overlay{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: #00000061;
	}

	